---
import Layout from "../../../layouts/AdminLayout.astro";
import FestivalTable from "../../../components/react/admin/FestivalTable";
---

<Layout title="Festival Management">
    <div class="mb-6">
        <p class="text-bio-gray-400">
            Add new festivals, manage details, and update lineups.
        </p>
    </div>

    <FestivalTable client:only="react" />
</Layout>
