---
export const prerender = true;
import BaseLayout from "../layouts/BaseLayout.astro";
import UserProfileSettings from "../components/react/UserProfileSettings";
---

<BaseLayout title="My Profile | BIO BEATS">
    <div class="min-h-screen bg-black pt-24 pb-12 px-4">
        <div class="container mx-auto">
            <UserProfileSettings client:only="react" lang="en" />
        </div>
    </div>
</BaseLayout>
